@model  MvcStokTakip.Models.Entity.Tbl_Urun
@{
    ViewBag.Title = "YENİURUN";
    Layout = "~/Views/Shared/_MainLeyout.cshtml";
}

<form method="post" class=" form-group">



    <div>
        <label>Urun Adı</label>
        <input type="text" class="form-control" name="UrunAd" required="" maxlength="30"/>
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="Marka" required="" placeholder="Buraya Markayı Yazınız"/>
    </div>
    <div>
        <label>Stok</label>
        <input type="text" class="form-control" name="Stok" required />
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="Fıyat" required />
    </div>
    <div>
        <label>Kategori</label> 
        @Html.DropDownListFor(m =>m.Tbl_Kategori.Id, (List<SelectListItem>)ViewBag.Dgr,new {@clas="form-control"})
    </div>
    <div>
        <button class="btn btn-info">Ürün Ekle</button>
    </div>



</form>
