@using MvcStokTakip.Models.Entity
@model List<Tbl_Musterı>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLeyout.cshtml";
}



<table class="table table-bordered">

    <tr>
        <th>Musteri İd</th>
        <th>Musteri Ad</th>
        <th>Musteri Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach (var mst in Model)
        {
            <tr>
                <td>@mst.Musteriİd</td>
                <td>@mst.MusteriAd</td>
                <td>@mst.MusteriSoyad</td>
                <td> <a href="/Musteri/SIL/@mst.Musteriİd" class="btn btn-danger">Sil</a>  </td>
                <td> <a href="/Musteri/MusteriGetir/@mst.Musteriİd" class="btn btn-success">Güncelle</a> </td>
            </tr>
       
        }
      </tbody>

    </table>
    <a href="/Musteri/YENİMUSTERİ/" class="btn btn-primary">Yeni Müşteri Ekle</a>
